/* Universal style */
* {
    font-family: 'Roboto', sans-serif;
    color: black;
}
body{
    margin: 0;
    padding-top:0;
    text-align: center;
}

h2 {
    color: hsl(196, 100%, 50%);
}
h3 {
    color: #000;
}

nav{
    font-size: 14pt;
    background-color: #333;
    padding-bottom: 15px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a{
    padding: 0px 10px 0px 10px;
}
nav a:hover{
    color: white;
}
nav a:active{
    color: hsl(196, 100%, 50%);
}
summary {
    outline: none;
}
#name {
    padding-top: 1px;
}
ul, ol {
    display: table;
    margin: 0 auto;
    text-align: left
}
table, th, td {
    border-style: solid;
    border-collapse: collapse;
    border-color: #000;
    border-width: 2px;
    font-size: 2vw;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    flex-shrink: 1;
}
.container img {
    width: 200px;
    padding-left: 2px;
    padding-right: 2px;
}
th {color: hsl(196, 100%, 50%);}

#fcolor {
    display: inline;
    color:#ff0077;
}
#quote {
    display: block;
}
#schedule {
    padding: 20px 0px 0px 0px;
}
iframe {
    min-width: 50%;
    max-width: 80;
}
footer {
    padding-bottom: 50px;
}
figure picture img{
    width: 200px;
}
@media screen and (min-width: 600px) {
    figure picture img{
        width: 300px;
    }
  }